.modal-actions {
    margin-top: 20px;
    display: flex;  /* Use flexbox to handle alignment */
    justify-content: center;  /* Center buttons horizontally */
    align-items: center;  /* Center buttons vertically if they expand */
    gap: 10px;  /* Add space between buttons */
    padding-bottom: 5px;
}
.modal-actions button {
    color: white;
    background-color: #1e1e1e;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;  /* Center text inside buttons */
    border-radius: 5px;  /* Optional: rounded corners for better aesthetics */
}

.modal-content{
    text-align: center;
}

.modal-actions button:hover {
    color: black;
    background-color: lightgray;
}
