.sortDropdown {
  text-align: left;
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 2%;
  font-size: 18px;
  font-weight: bold;
}

#sortOrder {
  padding: 8px;
  font-size: 16px;
  background-color: transparent;    
  color: white;
  border: none;
  border-bottom: 1px solid white;
  /* appearance: none; */
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  outline: none;
  cursor: pointer;
}

#sortOrder:focus, #sortOrder:active {
  outline: none;
  box-shadow: none; /* Removes any shadow applied on focus */
  border-bottom: 1px solid white; /* Ensures consistent styling */
}

select option {
  background-color: black;
  color: white;
}

select option:hover {
  background-color: gray;
}



.adminBookList {
  background-color: #1E1E1E;
  color: white;
  border-radius: 10px;
  margin-top: 5%;
  padding-bottom: .5%;
}

.booklistTitle {
  margin-left: 2%;
  padding-top: 2%;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 50px;
}

.booklistTitle2 {
  display: flex;
  padding-left: 3.5%;
  padding-right: 3.5%;
  border-bottom: white solid 1px;
  justify-content: space-between;
  margin-right: 5%;
  margin-left: 5%;
}

#serialNo {}

#image {
  margin-left: -23.75%;
  margin-right: -5%;
}

#bookName {}

#Actions {}


/* Book list container */
.adminBookList ol {
  counter-reset: book-counter;
  /* Initialize counter */
  padding: 0;
}

/* Each book item */
.adminBookList li {
  display: flex;
  /* Flexbox for horizontal alignment */
  align-items: center;
  /* Center items vertically */
  justify-content: flex-start;
  /* Align items to the left */
  margin-bottom: 5%;
  /* Space between rows */
  margin-left: 4.5%;
  margin-right: 6.95%;
  padding: 10px;
  padding-top: 20px;
  position: relative;
  /* For custom numbering */
}


.adminBookList li::before {
  margin-left: 6%;
  content: counter(book-counter) ". ";
  /* Add counter value */
  counter-increment: book-counter;
  /* Increment counter for each item */
  color: white;
  font-size: 16px;
}

/* Image styling */
.adminBookList img {
  /* Space between image and text */
  margin-right: 20%;
  margin-left: 13%;
}

/* Book details */
.adminBookList p {
  flex-grow: 1;
  /* Allow the text to take up remaining space */
  margin: 0;
  /* Remove default margins */
  text-align: left;
  /* Align text to the left */
  line-height: 1.5;
  /* Adjust line height for better readability */
  display: flex;
  /* Flexbox for internal alignment */
  align-items: center;
  /* Center the text vertically */
  font-size: 16px;
  font-weight: bold;
}

/* Style for buttons in book list */
.adminBookList button {
  display: flex;
  width: 10vh;
  justify-content: center;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for buttons */
.adminBookList button:hover {
  background-color: darkgray;
}

.bookListButtons {
  flex-direction: column;
}