.dashboardHeading{
    text-align: center;
    font-size: 50px;
    padding-bottom: 10px;
}
.dashboardContent{
    display: flex;
    justify-content: center;
}

#dashboardBookCount{
    margin: 5px;
font-size: 100px;
font-weight: bolder;
}

#dashboardQuote{
width: 80%;
margin-top: 10%;
font-style: italic;
}

#dashboardBookSuggestion{
    width: 80%;
    margin-top: 10%;
    font-weight: bold;
}

.dashboardCards{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    background: linear-gradient(180deg, #848484, #1e1e1e);
    color: white;
    margin: 10px;
    border-radius: 15px;
    
}