/* Note: put here global css styling */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.layout-container {
    display: flex;
}

.sidebar {
    width: 200px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
}
