* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* logo */
.logo {
    width: 150px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1000;
    margin-top: 15px;
}

.user-landing-page-footer {
    margin-top: 5%;
}