@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
* {
  font-family: 'Inter', sans-serif;
}
div.loginPageDiv , html{
    background-color: white;  
}


#login_page_image{
    border-radius: 7vh;
    padding: 1%;
    width: 45vw;            
    height: 90vh; 
    margin-right: 1%;
    position: relative;
    float: right;          
    object-fit: cover;      
  
}

#loginWelcomeMessage{
  position: relative;
  text-align: center;
  font-size:40px ;
  width: 100%;
  margin-bottom: 10%;
}

form.adminloginFields{
    position: relative;
    top:30vh;
    left: 16.90%;
    width: 20%;
}

form.adminloginFields input[type="text"],
form.adminloginFields input[type="password"] {
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid black; 
  background-color: transparent; 
  font-size: 16px;
  outline: none; 
  margin-bottom: 10%; 
}

form.adminloginFields button[type="submit"] {

    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px; 
    font-size: 16px;
    cursor: pointer;
    text-align: center;

  }
  
  form.adminloginFields input[type="text"]::placeholder,
  form.adminloginFields input[type="password"]::placeholder {
    padding-left: 10px; 
    color: #757575;   
  }

  form.adminloginFields button[type="submit"]:hover {
    background-color: lightgray;
    color: black;
  }

  #adminErrorMessage{
    color: red;
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 8%;
  } 